{% extends "navigation.html" %}
{% block body %}

<div class="ecommerce-service-section pt-5 pb-5">
    <div class="container shadow">
        <div class="row">
            <div class="col-12">
                <h1 class="section-main-heading">Our Services</h1>
            </div>
            <div class="col-12">
                <p class="section-description">
                    Our grocery store is a self-service shop offering a wide variety of grocery items, beverages and household products, organized into sections.<br>
                    Most online stores offer lower prices.Online shoping makes
                    price comparison simpler and quicker.It is very convention to
                    shop from where you are located.It saves you the cost of driving
                    to stores,as well as parking fees.
                </p>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <div class="services-section-card shadow text-center p-3">
                    <img class="w-25 " src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/ecommerce-services-delivery-img.png" />
                    <h1 class="services-card-heading mb-2">Fast and Free Delivary</h1>
                    <p class="services-card-description">
                        Fast,free,and convenient delivery choices on millions of items.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <div class="services-section-card shadow text-center p-3">
                    <img class="w-25 " src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/ecommerce-services-money-back-img.png" />
                    <h1 class="services-card-heading mb-2">100% Money back guarantee</h1>
                    <p class="services-card-description">
                        This is probably the most popular guarantee in the world.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <div class="services-section-card shadow text-center p-3">
                    <img class="w-25 " src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/ecommerce-services-24-by-7-support-img.png" />
                    <h1 class="services-card-heading mb-2">Online Support 24/7</h1>
                    <p class="services-card-description">
                        Our Online Support will provide you with many useful functions,
                        valuable information,tips.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock  %}
 